:root {
  --darkBlue: rgb(32, 32, 70);
  --grayishBlue: #babacf;
  --primaryFont: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 60.5% /* 1rem = 10px */;  
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {  
  font-family: var(--primaryFont);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}



img {
  max-width: 100%;
  display: block;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 37.5rem;
   
}

@media (min-width:768px){
  .container {
    width: 144rem; 
  }
}

.guest::before{
  position: absolute;
  content: '';
  background-image: url(../images/pattern-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  width: 75rem;
  height: 70rem;
  
}


.guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 3rem; */
}

@media (min-width: 768px) {
  .guest {
    flex-direction: row-reverse;
    width: 100%;
  }
}

.guest-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 3rem;
  height: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .guest-image {
      margin: 0;
      width: 50%;
      padding: 0;
  }
}


.guest-button {
  width: 10rem;
  height: 4rem;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  top: 32rem;
  border-radius: 50px;
  box-shadow: -30px 22px 53px 2px rgba(32, 32, 70, 0.52);
}

.guest-button img {
  cursor: pointer;
}

.guest::before {
  position: absolute;
  content: '';
  background-image: url(../images/pattern-bg.svg);
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: top;
  width: 60rem;
  height: 60rem;
  top: -10px;
}

@media (min-width: 768px) and (max-width: 1024px) {

  .quote-sign {
    position: relative;
    left: 6rem; 
    width: 60%;  
  }   

  .guest-button {
    top: 34rem;
    left: 47rem;
  }

}

@media (min-width:1025px) {

  .guest::before {
    background-size: cover;
    width: 75rem;
    height: 71rem;
    top: -64px;
  }

  .quote-sign {
    position: relative;
    left: 20rem;  
    width: 50%;
  } 

  .quote-sign::before {
    position: absolute;
    top: -5rem;
    left: 8rem;
    content: '';
    background-image: url(../images/pattern-quotes.svg);    
    background-repeat: no-repeat;
    background-position: top left;
    width: 30rem;
    height: 30rem;    
  }

  .guest-button {    
    right: 50rem;
    top: 54rem;
  }
}

.guest-quote {
  font-size: 1.6rem;
  text-align: center;  
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .guest-quote {
    position: relative;
    font-size: 3.2rem;
    text-align: left;    
    padding-top: 3rem; 
  }
}

.guest-sign {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0 3rem 0;
  color: var(--grayishBlue);
}

@media (min-width: 768px) {
  .guest-sign {
    position: relative;
    flex-direction: row;
    gap: 1rem;    
  }
}

.guest-sign span:first-child {
  font-weight: 700;
  color: var(--darkBlue);
}

.attribution {
  padding: 2rem;
}
